---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

/* Local Time TS script*/
let utcDate = new Date('2024-10-30T12:00:00Z');
let localDate = utcDate.toLocaleString();
console.log(localDate);

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi there!</h1>
			<p>
      I’m Ren Blanding, UX/UI Designer for Keurig's product team @ Keurig Dr Pepper. My specializations are in UI Design for physical products as well as design systems for e-commerce sites and apps. When it comes to design, my passion is delivering insights and work that put people first, for end users and my teammates. I also know a little front-end but mostly just to better understand my developer peers!
      </p>

      <h2>Who have I worked for?</h2>
      <p>Clients have included:</p>
      <ul>
        <li>Keurig Dr Pepper</li>
        <li>American Academy of Pediatrics</li>
        <li>National Association of Corporate Directors</li>
        <li>Spartan Chemical</li>
      </ul>

      <h2>Let's keep in touch!</h2>
      <p>You can reach me anytime between normal business hours in the Central Time Zone. I am available through the following: </p>
			<ul>
        <li>Email - <a href="#">hello@blandingdesign.com</a></li>
        <li>LinkedIn - <a href="#">blandingr</a></li>
        <li>GitHub - <a href="#">hakata-jpn</a></li>
      </ul>

        <!-- TODO: Add time zone PLEASE 
      <p>
        It is currently () in Chicago right now. 
      </p>  -->
		</main>
		<Footer />
	</body>
</html>
