---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi there!</h1>
			<p>
      I’m Ren Blanding, Designer II at Keurig Dr Pepper working on the coffee side of the business. My specializations are in UI Design for physical products as well as design systems for e-commerce sites and apps. When it comes to design, my passion is delivering insights and work that put people first, both for end users and my teammates. As you can see by this website, I'm not afraid of a little code either, and I love working with developers.
			</p>

      <h2>Let's keep in touch!</h2>
      <p>You can reach me anytime between normal business hours in the Central Time Zone. I am available through the following: </p>
			<ul>
        <li>Email - <a href="#">hello@blandingdesign.com</a></li>
        <li>LinkedIn - <a href="#">blandingr</a></li>
        <li>GitHub - <a href="#">hakata-jpn</a></li>
      </ul>
		</main>
		<Footer />
	</body>
</html>
